<p>
  home works!
</p>
<h3>{{name}}</h3>


<button (click)="logClick()">Click here to log</button>

<!-- Custom Property Binding - From app.component -->
<!--<p>{{game.name}}</p>-->

<!--<button (click)="fireEvent($event)">Click Me</button>-->

<!--<h4>One Way Binding</h4>-->
<!--<input [value]="textName">-->
<!--<input [required]="isRequired">-->

<!--<button (click)="onButtonClick('football')">Click Me</button>-->

<!--<h4>Two Way Binding</h4>-->
<!--<p>{{game.name}}</p>-->
<!--<input [(ngModel)]="game.name">-->
<!--<p>{{game.publisher}}</p>-->
<!--<input [(ngModel)]="game.publisher">-->



<!--<ng-content></ng-content>-->
